
@model LoginUser

<form action="login" method="post">
    <div class='form-group'>
        <label asp-for='LoginEmail'>Email</label>
        <input class='form-control' asp-for='LoginEmail' placeholder='Email Address'>
        <span asp-validation-for='LoginEmail' class="text-danger"></span>
    </div> 
    <div class='form-group'>
        <label asp-for='LoginPassword'>Password</label>
        <input class='form-control' asp-for='LoginPassword' placeholder='Enter Password'>
        <span asp-validation-for='LoginPassword' class="text-danger"></span>
    </div>     
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

